<!DOCTYPE HTML>
<html lang = "en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" layout:fragment="header">
    <title></title>
</head>
<body layout:fragment="content">
<div>
    <div class = "descriptionheader">
        <p> We match people with YOUR music taste to you</p>
    </div>
    <div class="description">
        <p>-Easy</p>
        <p>-Powerful</p>
        <p>-Match by top artists, albums, and more</p>
    </div>
</div>
</body>
</html>